* text=auto
*.ado text eol=lf
*.do text eol=lf
*.pkg text eol=lf
*.sthlp text eol=lf
*.dlg text eol=lf
*.toc text eol=lf
*.java text eol=lf
*.jar-source text eol=lf
*.py text eol=lf
*.ps1 text eol=lf
*.md text eol=lf
*.yml text eol=lf
*.index text eol=lf
*.b64.* text eol=lf
*.jar binary
*.zip binary
*.dta binary
